<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
    <h2 >Spring Boot Crud System -Student Registration</h2><br>
    <tr>
        <div align = "left" >
            <h3><a  th:href="@{'/new'}">Add new</a>
        || <a  th:href="@{'/student'}">Student List</a></h3>
        </div>


    </tr>
    <tr>

        <div class="col-sm-5" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Course</th>
                        <th>Fee</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="student : ${liststudent }">
                        <td th:text="${student.id}">Student ID</td>
                        <td th:text="${student.name}">StudentName</td>
                        <td th:text="${student.department}">Department</td>
                        <td th:text="${student.cgpa}">CGPA</td>
                        <td>
                            <a th:href="@{'/edit/' + ${student.id}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/delete/' + ${student.id}}">Delete</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </tr> <br><br><br>

    <div>
    <h3><a  th:href="@{'/newdepartment'}">Add new Department</a>||
        <a  th:href="@{'/department'}">Department List</a></h3>
    </div>

    <div class="col-sm-5" align = "center">
        <div class="panel-body" align = "center" >
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Department ID</th>
                    <th>Department Name</th>
                    <th>Department Description</th>
                    <th>Total Credits</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="department : ${departmentlist }">
                    <td th:text="${department.id}">Department ID</td>
                    <td th:text="${department.department}">Department</td>
                    <td th:text="${department.description}">Description</td>
                    <td th:text="${department.credit}">Credit</td>
                    <td>
                        <a th:href="@{'/editdepartment/' + ${department.id}}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/deletedepartment/' + ${department.id}}">Delete</a>
                    </td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>

</div>
</body>
</html>
