<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div align="center">
    <h1>Add New Department</h1>
    <br/>
    <div class="col-sm-4">
        <form action="#" th:action="@{/savedepartment}" th:object="${department}" method="post">

            <div alight="left">
                <tr>
                    <input type="hidden" th:field="*{id}"/>
                    <label class="form-label">Department Name</label>
                    <td>
                        <input type="text" th:field="*{department}" class="form-control" placeholder="Department Name"/>
                    </td>
                </tr>
            </div>

            <div alight="left">

                <tr>
                    <label class="form-label">Description</label>
                    <td><input type="text" th:field="*{description}" class="form-control" placeholder="Description"/></td>
                </tr>
            </div>
            <div alight="left">
                <tr>
                    <label class="form-label">Totat Credits</label>
                    <td><input type="text" th:field="*{credit}" class="form-control" placeholder="Total Credits"/></td>
                </tr>
            </div>
            <br>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-info">Save</button>
                </td>
            </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>